*, *:before, *:after {
  box-sizing: border-box;
}
body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 16px;
}
nav {
  padding: 0px 0 0px 0px;
  position: relative;
  width: 100%;
}
h1 {
  font-size: 100%;
  font-weight: 700;
}
h3 {
  font-size: 70%
}
.content:hover {
  background-color: #ffffff;
  } /* mouse over */

.arrow {
  font-size: 80%;
  float: right;
}

.arrow-left {
  display: inline-block;
  background-color: #000000;
  width: 110%;
  padding: 10px;
  font-size: 80%;
}

.container {
  display: block;
  margin: 0 auto;
  width: 20%;
}

.content {
  line-height: 120%;
  background-color: #aaa;
  padding: 20px;
  width: 110%;
  border: .25px solid #333;
}

.restaurant-list {
  display: inline-block;
  background-color: #aaa;
  margin: 0;
  height: 200px;
  width: 100%;
  text-align: left;
}
