*, *:before, *:after {
  box-sizing: border-box;
}
body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 16px;
}
nav {
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 420px;
}
h1 {
  font-size: 100%;
  font-weight: 700;
}
h3 {
  font-size: 70%
}
.location:hover {
  background-color: #ffffff;
  } /* mouse over */

.arrow {
  display: inline-block;
  font-size: 80%;
  float: right;
}

.arrow-left {
  display: block;
  background-color: #000000;
  width: 100%;
  padding: 10px
}

.container {
  display: block;
  margin: 0 auto;
  width: 20%;
}

.content {
  display: block;
  line-height: 120%;
  background-color: #aaa;
  padding: 20px;
  width: 700%;
  border: .25px solid #333;
}

.restaurant-list {
  display: inline-block;
  background-color: #aaa;
  margin: 5px 1% 0 1%;
  height: 200px;
  width: 20%;
  text-align: left;
}
